<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="tabuleiro">
        {% for i in range(9) %}
            <button class="campo" id="campo{{ i }}" onclick="fazerJogada({{ i }})">
                {{ tabuleiro[i] }}
            </button>
        {% endfor %}
    </div>

    <div class="status">
        <p>Jogador Atual: {{ jogador_atual }}</p>
    </div>

    <div id="vencedor" class="vencedor"></div>

    <!-- Botão para reiniciar o jogo -->
    <div class="reiniciar">
        <button onclick="reiniciarJogo()">Reiniciar Jogo</button>
    </div>

    <script>
        function fazerJogada(posicao) {
            fetch(`/jogada/${posicao}`)
                .then(response => response.json())
                .then(data => {
                    if (data.vencedor) {
                        document.getElementById('vencedor').innerText = `Vencedor: ${data.vencedor}`;
                    }

                    // Atualizar o tabuleiro
                    data.tabuleiro.forEach((campo, index) => {
                        document.getElementById('campo' + index).innerText = campo;
                    });

                    // Atualizar o jogador atual
                    document.querySelector('.status p').innerText = "Jogador Atual: " + data.jogador_atual;
                });
        }

        function reiniciarJogo() {
            fetch('/reiniciar')
                .then(response => response.json())
                .then(data => {
                    // Limpa a mensagem do vencedor
                    document.getElementById('vencedor').innerText = "";

                    // Atualizar o tabuleiro
                    data.tabuleiro.forEach((campo, index) => {
                        document.getElementById('campo' + index).innerText = campo;
                    });

                    // Atualizar o jogador atual
                    document.querySelector('.status p').innerText = "Jogador Atual: " + data.jogador_atual;
                });
        }
    </script>
</body>
</html>
